tower {
  accessToken = System.getenv('TOWER_ACCESS_TOKEN')
  enabled = true
}

process {
    executor = 'slurm'
    queue = 'standard'
    //errorStrategy = { task.exitStatus in 151 ? 'retry' : 'terminate' }
    //maxRetries = 2
}

profiles {
   bwamem2 {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"

     executor {
         name = 'slurm'
         queueSize = 20
     }

     process {
         executor = 'slurm'
         queue = 'standard'

         withName: bwamem2 {
            cpus = 4
            memory = 40.GB
            time = '12h'
         }
     }
   }
  bamstats {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"

     executor {
         name = 'slurm'
         queueSize = 20
     }

     process {
         executor = 'slurm'
         queue = 'standard'

         withName: BAMSTATS {
            cpus = 1
            memory = 4.GB
            time = '2h'
         }
     }
  }
}
